<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to public folder" stopProcessing="true">
          <match url="^$" />
          <action type="Redirect" url="public/index.php" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
