body {
    position: relative;
    margin: 0; 
    padding: 0; 
}


.swal2-icon {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.swal2-icon-custom {
    font-size: 10px; 
    color: #102E47; 
}

.swal2-title-custom {
    font-size: 24px !important;
    font-weight: bold;
    color: #434343 !important;
}

.swal-custom-popup {
    padding: 20px;
    border-radius: 25px;
}

.swal-custom-btn {
    padding: 10px 20px !important;
    font-size: 16px !important;
    font-weight: bold !important;
    border: 2px solid #102E47 !important;
    border-radius: 25px !important;
    background-color: white !important;
    color: #102E47 !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
}

.swal-custom-btn:hover {
    background-color: #102E47 !important;
    color: white !important;
}


.vertnavbar {
    list-style-type: none; /* Remove default list styling */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    width: 280px; /* Set a fixed width for the navbar */
    position: fixed; /* Fix the navbar to the left side */
    height: 100%; /* Make the navbar full height */
    overflow: auto; /* Enable scrolling if the content overflows */
    display: flex; /* Use flexbox for alignment */
    flex-direction: column; /* Arrange items in a column */
    justify-content: center; /* Center items vertically */
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 100vh; /* Limit the height to the viewport height */
}

.logocontainer {
    position: absolute;
    top: 0;
    width: 100%;
}

.logocontainer img {
    margin: calc(1px + 0.5vw);
    width: 100%;
    max-width: 260px; 
    min-width: 40px;
}

.vertnavbar .bi {
    margin-right: 12px; /* Add margin to the right of the icons */
}

.vertnavbar li a {
    display: block; /* Make the links block elements */
    margin: 20px;
    padding: 16px; /* Add padding */
    text-decoration: none; /* Remove underline */
    border-radius: 8px;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.vertnavbar li a.active {
    background-color: #f76e85; /* Set the background color for the active link */
    color: white; /* Set the text color for the active link */
}

.vertnavbar li a:hover:not(.active) {
    background-color: #fbb6c2; /* Set the background color on hover */
    color: white; /* Set the text color on hover */
}

.accountcontainer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.accountcontainer .accountname {
    display: block; /* Make the links block elements */
    margin: 20px;
    padding: 16px; /* Add padding */
    border-radius: 8px;
    color: black;
}

.vertnavbar li button {
    display: block; /* Make the links block elements */
    margin: 20px;
    width: 240px;
    padding: 16px; /* Add padding */
    text-decoration: none; /* Remove underline */
    border-radius: 8px;
    color: white;
    border: none;
    background-color: #3A4989; 
    text-align: left; /* Align the content to the left */
    font-size: 16px;
}

.vertnavbar li button:hover {
    background-color: #88a4f7;
}


.dashboardcontainer {
    margin-left: 280px; /* Add a left margin to make space for the navbar */
    padding: 20px; /* Add padding */
}

.content {
    background-color: #fee7eb; /* Set the background color */
    border-radius: 10px; /* Make the box corners rounded */
    padding: 28px; /* Add padding inside the box */
    min-height: calc(100vh - 40px); /* Set the minimum height to span from top to bottom of the viewport, accounting for padding */
    height: auto; /* Allow the height to adjust automatically once the contents surpass the .content div */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    margin: 12px;
}

.statistics, .busydays, .topthree, .statistics > .container {
    display: flex; 
    justify-content: flex-start;
    flex-wrap: wrap; 
    background-color: transparent;
}

.statistics > .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
}
.statistics > .container > div:first-child {
    margin: 0 0 12px 0;
}

.statistics > .container > div:last-child {
    margin: 12px 0 0 0;
}

.grid {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 12px; 
}

.addaccount {
    border: 4px dashed #f76e85;
    cursor: pointer;
}

.accountplus {
    margin: auto;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f76e85;
    height: 90%; /* Make the container full height */
    position: relative; /* Position relative to the containing div */
}

.accountplusdesc {
    color: #f76e85;
}

.accountitem {
    display: flex;
    align-items: flex-start; /* Align items to the bottom */
    justify-content: flex-end; /* Align items to the left */
    flex-direction: column;
}

.accounticon {
    font-size: 80px;
}

.statistics div, .grid div{
    background-color: #ffccd6; 
    border-radius: 16px; 
    padding: 20px; 
    margin: 12px; 
    height: auto; 
    box-sizing: border-box;
    position: relative; 
    overflow: hidden;
}

#busiestdays > .busydays, #topsites > .topthree {
    margin: 0px; 
    padding: 0px; 
}

#busiestdays > .busydays div, #topsites > .topthree div {
    background-color: #fee7eb;
}

.container h1 {
    font-size: 56px; /* Set the font size of the headings */
    text-align: center; /* Center the text */
}

.statistics > div > span {
    position: absolute; 
    top: -24px;
    right: 8px;
    font-size: 8rem; 
    opacity: 0.1;
}


.modal-content .revcontainer, .accdetailscontainer {
    position: relative;
    padding: 80px;
}

.addaccformcontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 40px;
    place-items: center;
    gap: 20px;
}

.addaccformcontainer .label {
    opacity: 0.5;
}

.addaccformcontainer input {
    width: 300px;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-top: 12px;
}

.revcontainer p {
    font-size: 24px;
    text-align: center;
    font-style: italic;
    margin-top: 32px;
    margin-bottom: 32px;
}

.accdetailscontainer {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    column-gap: 400px;
}

.accdetailscontainer .label {
    margin: 12px 0;
    opacity: 0.5;
}

.modal-content .revcontainer .revbg {
    font-size: 10rem;
    opacity: 0.1;
    position: absolute;
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
}

.authorcontainer {
    display: flex; 
    flex-direction: row;
    margin-top: 20px;
    gap: 12px;
}

.statistics > div > h1 {
    font-size: 80px;
    text-align: right;
    margin: 36px 16px 16px 16px;
}

.tablecontainer table {
    margin-top: 12px; /* Add margin to the top of the table */
    width: 100%; /* Make the table span the full width of the container */
    border-collapse: separate; /* Separate the borders of the table cells */
    border-spacing: 0 8px; /* Add space between rows */
    text-align: center; /* Align text in table cells to the center */
}

.tablecontainer table td {
    background-color: #fee7eb; /* Set the background color of table cells to blue */
    padding: 12px; /* Add padding inside the table cells */
}

.tablecontainer table td:first-child {
    border-top-left-radius: 16px; /* Round the top-left corner of the first column */
    border-bottom-left-radius: 16px; /* Round the bottom-left corner of the first column */
}

.tablecontainer table td:last-child {
    border-top-right-radius: 16px; /* Round the top-left corner of the first column */
    border-bottom-right-radius: 16px; /* Round the bottom-left corner of the first column */
}

.tablecontainer table th {
    background-color: initial; /* Keep the header cells' background color unchanged */
}

.tabs {
    margin: 20px 12px 12px 12px;
    display: flex; 
    flex-direction: row;
    gap: 12px;
}

.tabbutton {
    width: auto;
    padding: 12px;
    background-color: red;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: block;
}

.tabbutton:hover {
    background-color: orange;
}

.tabbutton.active {
    background-color: green;
}

.tablecontainerrequests table tr {
    cursor: pointer;
}

.griditem {
    cursor: pointer;
}

.siteitem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 254px;
    padding: 10px;
    box-sizing: border-box;
    transition: transform 0.3s;
}


.siteitem img {
    width: 100%;
    height: 182px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 4px;
    flex-shrink: 0;
}

.siteitem h2 {
    word-wrap: break-word;
    margin: 10px 0 0 0;
    flex-shrink: 0;
}

.displayarchive {
    display: flex; 
    justify-content: center;
    gap: 24px;
}

.displayarchive button {
    cursor: pointer;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 32px;
    background-color: #3A4989; 
    color: white;
    border-radius: 20px; 
    border: none; 
    padding: 8px 16px; 
}

.displayarchive button:hover {
    background-color: #88a4f7;
}

.searchbarcontainer {
    margin-left: 12px;
    margin-right: 12px;
}

.searchbar {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-title {
    margin: 40px;
}

.modal-content {
    background-color: #fefefe;
    border-radius: 20px;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
    display: flex; 
    flex-wrap: nowrap; 
    justify-content: space-between;
    padding: 12px 12px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#closeforsmall  {
    display: none;
}

#closeforbig {
    display: block;
}


@media (max-width: 768px) {
    .modal-content .revcontainer, .accdetailscontainer {
        padding: 20px;
    }    
    .modal-title {
        margin-left: 20px;
    }
    .accdetailscontainer,.addaccformcontainer {
        margin-top: 0;
        grid-template-columns: repeat(1, 1fr); 
    }
    .addaccformcontainer {
        margin-left: 16px;
    }
    .hide-on-small {
        display: none;
    }

    .content {
        padding: 12px; /* Adjust padding for smaller screens */
        height: auto;
    }

    .date {
        display: none;
    }

    .statistics div {
        height: auto; /* Adjust height for smaller screens */
        width: 100%; /* Make the width of .statistics div the same */
    }

    #busiestdays > .busydays div {
        margin: 8px 0px;
    }

    .statistics div span {
        font-size: 4rem; /* Adjust font size for smaller screens */
        top: -2px;
        right: 2px;
    }

    .statistics > div > h1 {
        font-size: 40px; /* Adjust font size for smaller screens */
        margin: 4px;
    }

    .vertnavbar {
        width: 88px;
    }

    .vertnavbar .accountname {
        display: none;
    }

    .vertnavbar .nav-text {
        opacity: 0;
        display: none;
    }

    .vertnavbar li button {
        width: 48px;
    }

    .dashboardcontainer {
        margin-left: 72px;
    }

    .marquee-content {
        animation:none;
    }

    .modal-content {
        flex-direction: column;
        width: 80%;
    }

    .tourfees > table {
        margin-top: 0;
    }

    #closeforsmall  {
        display: block;
        text-align: right;
    }

    #closeforbig {
        display: none;
    }
}

@media (min-width: 1024px) { /* big screens*/
    .statistics div {
        flex: 1 1 calc(33.333% - 24px); /* Allow up to 3 boxes per row, accounting for margin */
    }
    .statistics > .container > div {
        flex: 1 1 100%; /* Allow only 1 box per row */
    }

    .busydays :first-child, .topthree :first-child {
        margin-left: 0px;
    }
    .busydays :last-child, .topthree :last-child {
        margin-right: 0px;
    }
}