body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.taalbgpic {
    background-image: url('../images/taal_welcome.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.taalbgpic::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    z-index: -1;
}

.login-container {
    position: relative;
    background-color: #ffffffd1;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
    text-align: center;
    color: #333333;
    z-index: 1;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    height: 550px;
    transition: opacity 1s ease-in-out;
}

.login-container h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #333333;
    font-size: 35px;
}

.login-container p {
    margin-bottom: 60px;
    color: #555555;
    font-size: 15px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 14px;
}

.forgot-password {
    display: block;
    margin-top: 1px;
    font-size: 12px;
    color: #3a4989;
    text-align: right;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}
.large-text-overlay-login {
    position: absolute;
    bottom: 20%;
    right: 5%;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
    text-align: right;
}

.large-text-overlay-signup {
    position: absolute;
    bottom: 20%;
    left: 5%;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
    text-align: right;
}

/* Sign-Up Page Specific Styles */
.signup-container {
    position: relative;
    background-color: #E7EBEE;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    max-width: 90%;
    text-align: center;
    color: #333333;
    z-index: 1;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    height: 650px;
    transition: opacity 1s ease-in-out;
}

.signup-container h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333333;
    font-size: 35px;
    font-weight: bold;
}

.signup-container p {
    margin-bottom: 40px;
    color: #555555;
    font-size: 15px;
}

.form-group {
    display: flex;
    gap: 10px; /* Spacing between inputs */
    justify-content: space-between; /* Ensure alignment */

}

.half-width-input {
    width: 48%; /* Maintain equal width for both inputs */
    padding: 12px; /* Consistent padding */
    border: 1px solid #a7a7a7; /* Uniform border */
    border-radius: 50px; /* Rounded corners */
    box-sizing: border-box;
    font-size: 14px;
}

@media (max-width: 768px) {
    .form-group {
        flex-direction: column; /* Stack inputs vertically on smaller screens */
    }

    .half-width-input {
        width: 100%; /* Full width for small screens */
    }
}


.full-width-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc; /* Ensures a visible border */
    border-radius: 50px !important;
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 20px;
    outline: none; /* Removes default focus outline */
}


.checkbox-container {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 12px;
    color: #555555;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

.signup-container button[type="submit"] {
    width: 150px;
    font-weight: bold;
}

/* Login Redirect */
.signup-container .login-redirect {
    margin-top: 50px;
    font-size: 14px;
    color: #333333;
}

.signup-container .login-redirect a {
    color: #3a4989;
    text-decoration: none;
    font-weight: bold;
}

.signup-container .login-redirect a:hover {
    text-decoration: underline;
}
