/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffafb;
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    position: relative;
}

/* General Button Styles */
.bluebutton {
    width: auto;
    padding: 12px;
    background-color: #4a74f2;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 13px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button[type="submit"] {
    width: 60%;
    padding: 12px;
    background-color: #3a4989;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 13px;
    cursor: pointer;
    margin-top: 40px;
}

button[type="submit"]:hover {
    background-color: #2f3c6d;
}

/* Responsive Design */
@media (max-width: 500px) {
    .signup-container {
        left: 10%;
        width: 95%;
        max-width: 100%;
    }

    .form-group {
        flex-direction: column;
    }
}
