* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #130104;
    font-family: Arial, sans-serif;
}

header div{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
}

header a {
    text-decoration: none; 
    font-size: 20px; 
}

header .btn {
    font-size: 40px;
    border: none; 
    padding: 10px; 
    border-radius: 5px; 
    cursor: pointer;
}

body {
    background-color: #fffafb;
    min-height: 100vh;
    position: relative;
}

.marquee-content {
    display: flex;
    white-space: nowrap; 
    text-overflow: ellipsis;
    animation: marquee 5s linear infinite;
}


@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.marquee-content:hover {
    animation-play-state: paused;
}

.marquee-content::after {
    content: '';
    display: inline-block;
    padding-left: 100%;
}

/* General Button Styles */
.bluebutton {
    width: auto;
    padding: 12px;
    background-color: #4a74f2;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 13px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button[type="submit"] {
    width: 60%;
    padding: 12px;
    background-color: #3a4989;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 13px;
    cursor: pointer;
    margin-top: 40px;
}

button[type="submit"]:hover {
    background-color: #2f3c6d;
}

/* Responsive Design */
@media (max-width: 768px) {
    .signup-container {
        left: 10%;
        width: 95%;
        max-width: 100%;
    }

    .form-group {
        flex-direction: column;
    }
}
