.statistics .toursthismonth {
    flex: 0 0 23%;  /* Takes up 1/4 of the parent div */
}

.statistics .tourstatistics {
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.statistics .container {
    flex: 0 0 50%;
}


.tourstatistics > div {
    border-radius: 0;
    padding: 0;
    margin: 0;
    height: auto; 
    box-sizing: border-box;
    overflow: hidden;
}

.tourstatistics > div > h2 > span {
    float: right;
}

.tourstatistics > div > p > span {
    float: right;
    font-weight: bold;
    font-size: 24px;
}

.tourstatistics > div > h1 {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 72px;
}

.statistics .tablecontainer {
    display: flex;
    flex-direction: column;
    padding: 0;
}


.tablecontainer .visitorchart {
    margin: 0;
}

.statistics .chartcontainer {
    background-color: white;
    height: 680px;
}

.download {
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
    margin: 32px;
    width: calc(100% - 64px); /* 100% width minus the left and right margins */
}

.summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px;
}

@media (max-width: 768px) {
    .statistics .toursthismonth {
        flex: 1;
    }
    .statistics .container {
        flex: 1;
    }
    .download {
        font-size: 16px;
    }
    .statistics .tourstatistics {
        flex-direction: column;
    }
    .tourstatistics > div > h2 > span {
        font-size: 24px;
    }
    .summary {
        flex-direction: column;
        gap:  24px;
    }
    .statistics .chartcontainer {
        height: 340px;
    }
}