* {
    box-sizing: border-box;
}

body {
    background-color: #102E47;;
}

.sidebar {
    font-family: 'Raleway', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #102E47;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.sidebar img {
    max-width: 100%; 
    height: auto;
    display: block; 
    margin-top: auto;
    margin-bottom: 25%;
    transition: all 0.3s ease-in-out; 
}

.menu-section {
    margin-top: auto;
    margin-bottom: auto;
}

.nav-link {
    color: #E7EBEE !important;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold; 
    transition: background 0.3s ease, color 0.3s ease;
}

.nav-link.active {
    background-color: #EC6350 !important;
    color: #FFFFFF !important;
    font-weight: bold;
}

.nav-link:hover {
    background-color: #EC6350 !important; 
    color: #FFFFFF !important;
}

.nav-link i {
    color: inherit; 
}

.admin-name.active {
    background-color: #729AB8 !important;
    color: #FFFFFF !important;
    font-weight: bold;
}

.sign-out.active {
    background-color: #E7EBEE !important;
    color: #102E47 !important;
    font-weight: bold;
}
.content-container {
    background-color: #E7EBEE;
    padding: 20px;
    border-radius: 10px;
}
.btn-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.btn-filter {
    width: 50px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #102E47;
    color: #434343;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: auto; /* Pushes the button to the bottom of the parent div */
}
.btn-filter:hover {
    background-color: #102E47;
    color: white;
}
.table-responsive {
    overflow-x: auto; 
    width: 100%;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px; 
    margin: auto;
    text-align: center;
    overflow-x: auto;
    min-width: 500px;
    font-family: 'Nunito', sans-serif;
}

thead th {
    color: #434343; 
    font-weight: bold;
    padding-bottom: 10px;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

tbody tr {
    background: #FFFFFF; 
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
}

tbody tr td {
    padding: 10px;
    border: none;
    color: #434343; 
}

tbody tr td:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

tbody tr td:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.main-content {
    margin-left: 260px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    width: calc(100% - 260px); 
}

.header {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    gap: 10px; 
}

.date {
    text-align: right; 
    min-width: 150px; 
    flex-shrink: 0; 
}

.content-container h2, 
.content-container .date h2 {
    color: #102E47;
    font-weight: bold;
}

.add-account-box {
    height: 290px;
    width: 375px;
    background-color: #E7EBEE;
    border-radius: 10px;
    border: 2px dashed #939393;
    position: relative;
    cursor: pointer;
    padding: 15px;
    margin-top: 15px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    font-family: 'Nunito', sans-serif !important;
}

.plus-sign {
    font-size: 75px;
    color: #939393;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add-text {
    font-size: 16px;
    color: #939393;
    position: absolute;
    bottom: 10px;
    left: 15px;
    margin: 0;
    font-weight: bold;
    transition: color 0.3s ease;
}

.add-account-box:hover {
    background-color: rgba(114, 154, 184, 0.2);  
    border-color: #729AB8;
}

.add-account-box:hover .plus-sign,
.add-account-box:hover .add-text {
    color: #729AB8; 
}

.info-box {
    height: 290px;
    width: 375px;
    background-color: rgba(114, 154, 184, 0.2); 
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    font-family: 'Nunito', sans-serif !important;
}

.info-box i {
    font-size: 40px; 
    position: absolute;
    bottom: 32px;
    left: 18px;
    margin: 0;
}

.info-box span {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
}

.info-box p {
    font-size: 16px;
    color: #102E47;
    position: absolute;
    bottom: 10px;
    left: 20px;
    margin: 0;
    font-weight: bold;
}

.info-box:hover {
    transform: scale(1.03);
    transition: all 0.3s;
}

.disabled-account {
    background-color: #E7EBEE;
    opacity: 0.5;
}

.search-wrapper {
    position: relative;
    width: 100%;
    margin-top: 10px;
    font-family: 'Nunito', sans-serif !important;
}

.search-wrapper i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #102E47;
    font-size: 1.2rem;
}

.search-wrapper input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 2px solid #102E47;
    border-radius: 25px;
    outline: none;
    font-size: 1rem;
}

.search-wrapper input::placeholder {
    color: #102E47;
    opacity: 0.7;
}

.btn-custom {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #102E47;
    border-radius: 25px;
    background-color: white;
    color: #434343;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 10px;
    margin-top: 10px;
    min-width: 80px;
    text-align: center;
    font-family: 'Nunito', sans-serif !important;
}

.btn-custom.active {
    background-color: #102E47 !important;
    color: #FFFFFF !important;
    font-weight: bold;
}

.btn-custom:hover {
    background-color: #102E47;
    color: #FFFFFF;
    font-weight: bold;
}

.modal-body {
    display: flex;
    align-items: center; 
    gap: 20px;
    color: #434343;
    font-weight: bold;
}

.modal-dialog {
    max-width: 50%;
}

.modal-content {
    border-radius: 25px;
    font-family: 'Nunito', sans-serif !important; 
    background-color: #E7EBEE;
}

.modal-footer {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    border-top: none;
}

.edit-modal-footer {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    border-top: none;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    color: #434343;
}

.swal2-icon {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.swal2-icon-custom {
    font-size: 10px; 
    color: #EC6350; 
}

.swal2-title-custom {
    font-size: 24px !important;
    font-weight: bold;
    color: #434343 !important;
}

.swal-custom-popup {
    padding: 20px;
    border-radius: 25px;
    font-family: 'Nunito', sans-serif !important;
}

.swal-custom-btn {
    padding: 10px 20px !important;
    font-size: 16px !important;
    font-weight: bold !important;
    border: 2px solid #102E47 !important;
    border-radius: 25px !important;
    background-color: #FFFFFF !important;
    color: #434343 !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
}

.swal-custom-btn:hover {
    background-color: #102E47 !important;
    color: #FFFFFF !important;
}

#modal-name {
    color: #102E47;
    font-weight: bold;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px; 
}

.modal-body {
    padding: 20px 25px; 
}

.modal-body p {
    margin-bottom: 10px; 
    text-align: justify;
}

.label-text {
    color: #757575;
    font-weight: normal;
}

.info-text {
    color: #434343;
    margin-bottom: 15px; 
    font-weight: bold;
}

.no-accounts {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #434343;
    padding: 10px;
    border-radius: 8px;
    width: fit-content;
    margin: auto;
    margin-bottom: 30px;
    font-family: 'Nunito', sans-serif !important;
}

@media (max-width: 1280px) {
    .search-wrapper {
        position: relative;
        width: 100%;
    }

    .btn-custom {
        padding: 8px 16px;
        font-size: 15px;
    }

    .modal-dialog {
        max-width: 60%;
    }
}

@media (max-width: 1024px) {
    .sidebar {
        width: 250px; 
        padding: 15px;
    }

    .sidebar img {
        margin-bottom: 0;
    }

    .nav-link {
        font-size: 14px; 
        margin-bottom: -5%;
    }

    .menu-section {
        padding: 5px 0;
        margin-top: auto;
        margin-bottom: auto;
    }

    .main-content {
        margin-left: 250px;
        width: calc(100% - 250px); 
    }

    .info-box,
    .add-account-box {
        height: 250px;
        width: 320px;
    }

    .plus-sign {
        font-size: 60px;
    }

    .add-text {
        font-size: 14px;
    }

    .info-box i {
        font-size: 35px;
        bottom: 30px; 
        left: 15px;
    }

    .info-box p {
        font-size: 14px;
    }
}

@media (max-width: 912px) {
    .sidebar {
        width: 200px; 
        padding: 15px;
        background-color: #102E47;
    }

    .nav-link {
        font-size: 14px; 
        padding: 8px; 
        color: #E7EBEE !important;
        font-weight: bold; 
        transition: background 0.3s ease, color 0.3s ease;
    }

    .nav-link.active {
        background-color: #EC6350 !important;
        color: #FFFFFF !important;
        font-weight: bold;
    }

    .nav-link:hover {
        background-color: #EC6350 !important; 
        color: #FFFFFF !important;
    }

    .admin-name.active {
        background-color: #729AB8 !important;
        color: #FFFFFF !important;
        font-weight: bold;
    }

    .sign-out.active {
        background-color: #E7EBEE !important;
        color: #102E47 !important;
        font-weight: bold;
    }

    .menu-section {
        margin-top: auto;
        margin-bottom: auto;
        padding: 10px 0; 
    }

    .main-content {
        margin-left: 200px;
        width: calc(100% - 200px);
    }

    .btn-custom {
        padding: 8px 14px;
        font-size: 14px;
        min-width: 70px;
    }

    .modal-dialog {
        max-width: 65%;
    }

    .modal-body {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .search-wrapper {
        position: relative;
        width: 95%;
        margin: 10px auto;
    }

    .add-account-box, 
    .info-box {
        width: 85%; 
        height: 270px; 
        margin: 12px auto; 
    }

    .plus-sign {
        font-size: 70px; 
    }

    .add-text, 
    .info-box p {
        font-size: 15px; 
    }

    .info-box i {
        font-size: 38px; 
        bottom: 30px; 
        left: 15px;
    }

    .row.justify-content-start {
        justify-content: center !important; 
    }
}

@media (max-width: 768px) {
    .filter-search-container {
        width: 100%;
        margin-top: 10px;
        justify-content: center;
    }f
    .sidebar {
        width: 100px;
        padding: 10px;
        background-color: #102E47;
    }

    .sidebar img {
        display: none;
    }

    .nav-link {
        text-align: center;
        padding: 10px;
        color: #E7EBEE !important;
        font-weight: bold;
        font-size: 12px;
    }

    .nav-link span {
        display: none; 
    }

    .nav-link.active {
        background-color: #EC6350 !important;
        color: #FFFFFF !important;
        font-weight: bold;
    }

    .nav-link:hover {
        background-color: #EC6350 !important; 
        color: #FFFFFF !important;
    }

    .admin-name.active {
        background-color: #729AB8 !important;
        color: #FFFFFF !important;
        font-weight: bold;
    }

    .sign-out.active {
        background-color: #E7EBEE !important;
        color: #102E47 !important;
        font-weight: bold;
    }

    .main-content {
        margin-left: 100px; 
        width: calc(100% - 100px); 
    }

    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .date {
        text-align: center; 
        width: 100%; 
    }

    .btn-custom {
        padding: 6px 12px;
        font-size: 14px;
    }

    .modal-dialog {
        max-width: 70%;
    }

    .modal-body {
        flex-direction: column;
        align-items: center;
    }

    .search-wrapper {
        position: relative;
        width: 95%;
        margin: 10px auto;
    }

    .add-account-box, 
    .info-box {
        width: 90%; 
        height: 260px; 
        margin: 10px auto; 
    }

    .plus-sign {
        font-size: 65px; 
    }

    .add-text, 
    .info-box p {
        font-size: 15px; 
    }

    .info-box i {
        font-size: 35px; 
        bottom: 30px; 
        left: 15px;
    }
}

@media (max-width: 600px) {
    .sidebar {
        width: 80px;
        padding: 5px;
        background-color: #102E47;
    }

    .nav-link {
        color: #E7EBEE !important;
        font-weight: bold;
    }

    .nav-link i {
        font-size: 20px;
    }

    .nav-link span {
        display: none;
    }

    .nav-link.active {
        background-color: #EC6350 !important;
        color: #FFFFFF !important;
        font-weight: bold;
    }

    .nav-link:hover {
        background-color: #EC6350 !important; 
        color: #FFFFFF !important;
    }

    .admin-name.active {
        background-color: #729AB8 !important;
        color: #FFFFFF !important;
        font-weight: bold;
    }

    .sign-out.active {
        background-color: #E7EBEE !important;
        color: #102E47 !important;
        font-weight: bold;
    }

    .main-content {
        margin-left: 80px;
        width: calc(100% - 80px);
    }

    .btn-group {
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .btn-custom {
        width: 90%;
        padding: 8px;
        font-size: 14px;
        margin: 4px auto;
    }

    .button-container {
        flex-direction: column;
        gap: 10px;
    }

    .modal-dialog {
        max-width: 100%;
    }

    .modal-body p {
        margin-bottom: 10px; 
        text-align: center;
    }

    .search-wrapper {
        position: relative;
        width: 90%;
        margin: 10px auto; 
    }

    .add-account-box, 
    .info-box {
        width: 90%; 
        height: 250px; 
        margin: 10px auto; 
    }

    .plus-sign {
        font-size: 60px; 
    }

    .add-text, 
    .info-box p {
        font-size: 14px; 
    }

    .info-box i {
        font-size: 30px; 
        bottom: 30px; 
        left: 15px;
    }

    .modal-dialog {
        max-width: 90%;
        margin: 10px auto;
    }

    .modal-content {
        padding: 15px;
    }

    .modal-header {
        padding: 15px;
    }

    .modal-body {
        padding: 15px;
    }

    .modal-body form {
        width: 100%;
    }

    .modal-body .form-control {
        margin-bottom: 5px; 
    }

    .modal-body .d-flex {
        flex-direction: column;
        gap: 10px;
    }

    .modal-footer {
        flex-direction: column;
        gap: 10px;
    }

    .btn-custom {
        width: 90%;
    }

    #username {
        margin-bottom: -3px; 
    }
}

@media (max-width: 360px) {
    .search-wrapper {
        position: relative;
        width: 90%;
        margin: 10px auto; 
    }

    .add-account-box, 
    .info-box {
        width: 90%; 
        height: 250px; 
        margin: 10px auto; 
    }

    .plus-sign {
        font-size: 60px; 
    }

    .add-text, 
    .info-box p {
        font-size: 14px; 
    }

    .info-box i {
        font-size: 30px; 
        bottom: 30px; 
        left: 15px;
    }
}

.filter-search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 10px;
}